<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Panel administratora :: @ViewBag.Title</title>

    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/admin-css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("CustomMeta", false)
    
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-34713022-3']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>
    @if(TempData.Any(p => p.Key == "ErrorMsg"))
    {
        <div class="alert alert-danger custom-alert">@TempData.First(p => p.Key == "ErrorMsg").Value</div>
    }
    
    @if (TempData.Any(p => p.Key == "SuccessMsg"))
    {
        <div class="alert alert-success custom-alert">@TempData.First(p => p.Key == "SuccessMsg").Value</div>
    }

    <div id="site">
        <div id="menu-area">
            <ul>
                <li><a href="@Url.Action("Settings", "Settings", new { area = "Administrator" })" class=" btn btn-primary">Ustawienia</a></li>
                <li><a href="@Url.Action("Articles", "Articles", new { area = "Administrator" })" class=" btn btn-primary">Wpisy</a></li>
                <li><a href="@Url.Action("Sites", "Sites", new { area = "Administrator" })" class=" btn btn-primary">Strony</a></li>
                <li><a href="@Url.Action("Comments", "Comments", new { area = "Administrator" })" class=" btn btn-primary">Komentarze</a></li>
                <li><a href="@Url.Action("Users", "Users", new { area = "Administrator" })" class=" btn btn-primary">Użytkownicy</a></li>
                <li><a href="@Url.Action("Categories", "Categories", new { area = "Administrator" })" class=" btn btn-primary">Kategorie</a></li>
                <li><a href="@Url.Action("Logs", "Logs", new { area = "Administrator" })" class=" btn btn-primary">Błędy systemu</a></li>
                <!--<li><a href="@Url.Action("ServerInfo", "ServerInfo", new { area = "Administrator" })" class=" btn btn-primary">Informacje o serwerze</a></li>-->
                <li><a href="@Url.Action("Index", "Backups", new { area = "Administrator" })" class=" btn btn-primary">Kopie zapasowe</a></li>
                <li><a href="@Url.Action("Logout", "Security", new { area = "Administrator" })" class=" btn btn-primary">Wyloguj</a></li>
            </ul>
        </div>

        <div id="content">
            @RenderBody()
        </div>
    </div>
</body>
</html>
