<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Panel administratora :: @ViewBag.Title</title>

    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/admin-css")

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-34713022-3']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>
    @if (TempData.Any(p => p.Key == "ErrorMsg"))
    {
        <div class="alert alert-danger custom-alert">@TempData.First(p => p.Key == "ErrorMsg").Value</div>
    }
    
    @if (TempData.Any(p => p.Key == "SuccessMsg"))
    {
        <div class="alert alert-success custom-alert">@TempData.First(p => p.Key == "SuccessMsg").Value</div>
    }

    <div>
        @RenderBody()
    </div>
</body>
</html>
