@model List<Blog.ViewModels.ArticleViewModel>

@{
    ViewBag.Title = "Artykuły";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<label>@Html.CheckBox("showRemoved", false, new { onclick = "removedStatusRefreshPage(this)" }) Pokaż usunięte elementy</label>

<table class="table table-bordered">
    <tbody>
        <tr>
            <th>ID</th>
            <th>Nazwa</th>
            <th>Opis</th>
            <th>Status</th>
            <th>Akcje</th>
        </tr>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td style="width: 10%;">@Model[i].ID.Value</td>
                <td style="width: 30%;">@Model[i].Title</td>
                <td style="width: 30%;">@Model[i].Description</td>
                <td style="width: 10%;">
                    @if(!Model[i].IsRemoved)
                    {
                        if (Model[i].IsPublished)
                        {
                            @Html.ActionLink("Opublikowany", "InvertArticleStatus", "Articles", new { area = "Administrator", id = Model[i].ID }, new { @class = "btn btn-success table-button" })
                        }
                        else
                        {
                            @Html.ActionLink("Nieopublikowany", "InvertArticleStatus", "Articles", new { area = "Administrator", id = Model[i].ID }, new { @class = "btn btn-danger table-button" })
                        }
                    }
                    else
                    {
                        @Html.ActionLink("Przywróć", "RestoreArticle", "Articles", new { area = "Administrator", id = Model[i].ID }, new { @class = "btn btn-success table-button" })
                    }
                </td>

                <td style="width: 20%;">
                    @if(!Model[i].IsRemoved)
                    {
                        @Html.ActionLink("Edytuj", "EditArticle", "Articles", new { area = "Administrator", id = Model[i].ID }, new { @class = "btn btn-primary table-button" })
                        @Html.ActionLink("Usuń", "RemoveArticle", "Articles", new { area = "Administrator", id = Model[i].ID }, new { @class = "btn btn-danger table-button", onclick = "return confirmOperation()" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Dodaj artykuł", "EditArticle", "Articles", new { area = "Administrator" }, new { @class = "btn btn-primary btn-settings" })