@model Blog.ViewModels.ArticleViewModel

@{
    ViewBag.Title = "EditArticle";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

@section CustomMeta{
    @Scripts.Render("~/bundles/ckeditor")
}

@using (Html.BeginForm("EditArticle", "Articles", new { area = "Administrator"}))
{
    <div class="left-col">
        <fieldset class="settings-fieldset">
            <legend>Dane artykułu</legend>
            <div><span class="settings-label" style="width: 100%">Kategoria:</span> 
                <select class="form-control" name="CategoryID">
                    @{var categoriesList = ViewData["CategoriesList"] as List<Blog.ViewModels.CategoryViewModel>;
                        for (int i = 0; i < categoriesList.Count; i++)
                        {
                            <option value="@categoriesList[i].ID">@categoriesList[i].Title</option>
                        }
                    }
                </select>
            </div>

            <div>
                <span class="settings-label" style="width: 100%">Alias:</span>
                @Html.TextBoxFor(p => p.Alias, new { @class = "form-control", placeholder = "Alias" })
            </div>

            <div>
                <span class="settings-label" style="width: 100%">Opis:</span>
                @Html.TextBoxFor(p => p.Description, new { @class = "form-control", placeholder = "Opis" })
            </div>

            <div>
                <span class="settings-label" style="width: 100%">Tagi:</span>
                    @Html.TextBoxFor(p => p.TagsString, new { @class = "form-control", placeholder = "Tagi" })
            </div>
        </fieldset>
    </div>
    <div class="right-col">
        <fieldset class="settings-fieldset">
            <legend>Opcje publikacji</legend>
            <div>
                <span class="settings-label" style="width: 100%">Data utworzenia:</span>
                @Html.TextBoxFor(p => p.CreationDate, new { @class = "form-control", placeholder = "Data utworzenia artykułu" })
            </div>

            <div>
                <span class="settings-label" style="width: 100%">Data publikacji:</span>
                @Html.TextBoxFor(p => p.PublishDate, new { @class = "form-control", placeholder = "Data publikacji artykułu" })
            </div>

            <div class="settings-group">
                <span class="settings-label">Status publikacji:</span>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-success radio-button">
                        @Html.RadioButtonFor(Model => Model.IsPublished, true) Opublikowana
                    </label>
                    <label class="btn btn-danger radio-button">
                        @Html.RadioButtonFor(Model => Model.IsPublished, false) Nieopublikowana
                    </label>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="clearfix"></div>

    <div class="settings-group">@Html.TextBoxFor(p => p.Title, new { @class = "form-control", placeholder="Tytuł artykułu" })</div>
    <div style="height: 630px;">@Html.TextAreaFor(p => p.Content, new { id = "editor"})</div>

    <script>
        CKEDITOR.replace('editor', 
            {
                extraPlugins: 'wpmore',
                toolbar: [['Save', '-', 'Source', 'Preview', '-', 'Templates'],
                            ['Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Print', 'SpellChecker', 'Scayt'],
                            ['Undo', 'Redo', '-', 'Find', 'Replace'],
                            ['Link', 'Unlink', 'Anchor'],
                            '/',
                            ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', 'Blockquote', 'CreateDiv'],
                            ['JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'],
                            ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', 'Blockquote'],
                            ['Image', 'Flash', 'Table', 'HorizontalRule', 'Smiley', 'SpecialChar', 'PageBreak'],
                             '/',
                            ['Styles', 'Format', 'Font', 'FontSize'],
                            ['Bold', 'Italic', 'Underline', 'Strike', '-', 'Subscript', 'Superscript'],
                            ['Maximize'],
                            ['Hello', 'Hello2'],
                            ['Source', 'WPMore']],
                height: "500px"
            }
        );
    </script>

    <div class="clearfix"></div>

    <input type="submit" class="btn btn-primary btn-settings" value="Zapisz artykuł" />
}