@model Blog.ViewModels.ArticleViewModel

@{
    ViewBag.Title = "EditArticle";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

@section CustomMeta{
    @Scripts.Render("~/bundles/ckeditor")
    @Scripts.Render("~/bundles/syntax")
    @Scripts.Render("~/bundles/alias-generator")
    @Styles.Render("~/Content/syntax")
}

@using (Html.BeginForm("EditArticle", "Articles", new { area = "Administrator"}))
{
    <div class="left-col">
        <fieldset class="settings-fieldset">
            <legend>Dane artykułu</legend>
            <div><span class="settings-label" style="width: 100%">Kategoria:</span> 
                <select class="form-control" name="CategoryID">
                    @{var categoriesList = ViewData["CategoriesList"] as List<Blog.ViewModels.CategoryViewModel>;
                        for (int i = 0; i < categoriesList.Count; i++)
                        {
                            if (Model.CategoryID == categoriesList[i].ID)
                            {
                                <option value="@categoriesList[i].ID" selected="selected">@categoriesList[i].Title</option>
                            }
                            else
                            {
                                <option value="@categoriesList[i].ID">@categoriesList[i].Title</option>
                            }
                        }
                    }
                </select>
            </div>

            <div>
                <span class="settings-label" style="width: 100%">Alias:</span>
                <div class="input-group">
                    @Html.TextBoxFor(p => p.Alias, new { @class = "form-control", placeholder = "Alias", id="tb-alias" })
                    <div class="input-group-btn"><div class="btn btn-primary" onclick="generateAlias();">Wygeneruj</div></div>
                </div>
                </div>
            <div>
                <span class="settings-label" style="width: 100%">Opis:</span>
                @Html.TextBoxFor(p => p.Description, new { @class = "form-control", placeholder = "Opis" })
            </div>

            <div>
                <span class="settings-label" style="width: 100%">Tagi:</span>
                    @Html.TextBoxFor(p => p.TagsString, new { @class = "form-control", placeholder = "Tagi" })
            </div>
        </fieldset>
    </div>
    <div class="right-col">
        <fieldset class="settings-fieldset">
            <legend>Opcje publikacji</legend>
            <div>
                <span class="settings-label" style="width: 100%">Data utworzenia:</span>
                @Html.TextBoxFor(p => p.CreationDate, new { @class = "form-control", placeholder = "Data utworzenia artykułu" })
            </div>

            <div>
                <span class="settings-label" style="width: 100%">Data publikacji:</span>
                @Html.TextBoxFor(p => p.PublishDate, new { @class = "form-control", placeholder = "Data publikacji artykułu" })
            </div>

            <div class="settings-group">
                <span class="settings-label">Status publikacji:</span>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-success radio-button">
                        @Html.RadioButtonFor(Model => Model.IsPublished, true) Opublikowana
                    </label>
                    <label class="btn btn-danger radio-button">
                        @Html.RadioButtonFor(Model => Model.IsPublished, false) Nieopublikowana
                    </label>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="clearfix"></div>

    <div class="settings-group">@Html.TextBoxFor(p => p.Title, new { @class = "form-control", placeholder="Tytuł artykułu", id="tb-title" })</div>
    <div style="height: 630px;">@Html.TextAreaFor(p => p.Content, new { id = "editor"})</div>

    <script>
        CKEDITOR.replace('editor');
    </script>

    <div class="clearfix"></div>

    <input type="submit" class="btn btn-primary btn-settings" value="Zapisz artykuł" />
}