@model Blog.ViewModels.CommentsModuleViewModel

<div class="comments-area" id="comments">
    @for (int i = 0; i < Model.Comments.Count; i++)
    {
        <div class="single-comment-area" id="@Model.Comments[i].ID">
            <div class="comment-header">
                <div class="comment-avatar">
                    <img src="@Model.Comments[i].AvatarSource" class="comment-avatar" alt="avatar" />
                </div>
                <div class="comment-user">
                    @if (Model.Comments[i].AuthorSite == null || Model.Comments[i].AuthorSite == "undefined")
                    {
                        @Model.Comments[i].AuthorName
                    }
                    else
                    {
                        <a href="@Model.Comments[i].AuthorSite">@Model.Comments[i].AuthorName</a>
                    }

                </div>
                <div class="comment-datetime">
                    @Model.Comments[i].PublishDate
                    @if (Model.Comments[i].AuthorID == WebSecurity.CurrentUserId && WebSecurity.IsAuthenticated)
                    {
                        @Html.ActionLink("[Usuń]", "RemoveComment", "Comments", new { id = Model.Comments[i].ID, articleID = Model.TargetID }, new { onclick = "return confirmOperation()" })
                    }
                </div>
            </div>
            <div class="comment-content">
                @Model.Comments[i].Content
            </div>
        </div>
    }

</div>
<div class="single-comment-area">
    <div class="comments-reply-area">
        @using (Ajax.BeginForm("AddComment", "Comments", new { returnUrl = ViewBag.ReturnUrl, target = Blog.Models.TargetType.Article }, new AjaxOptions() { UpdateTargetId = "validation-message" }))
        {
            <input type="hidden" name="ArticleID" value="@Model.TargetID" />
            if (!WebSecurity.IsAuthenticated)
            {
                <input type="text" name="AuthorName" class="form-control" style="width: 99%" placeholder="Twój pseudonim" />
            }
            <textarea class="form-control" style="width: 673px; height: 106px; margin-bottom: 10px;" name="CommentContent" placeholder="Treść komentarza"></textarea>
            
            if (!WebSecurity.IsAuthenticated)
            {
                <div style="float: right;">@Html.Action("Captcha", "Modules")</div>
            }
            <input type="submit" value="Dodaj komentarz" class="btn btn-default left" />
            @Html.ActionLink("Pobierz w formacie ATOM", "GetCommentsATOM", "Home", new { id = Model.TargetID }, new { @class = "btn btn-default right" })
        }
    </div>
</div>
<div id="validation-message"></div>
