<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/custom-scripts")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/syntax")
    @Styles.Render("~/Content/syntax")

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-34713022-3']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>
    @if (TempData.Any(p => p.Key == "ErrorMsg"))
    {
        <div class="alert alert-danger custom-alert">@TempData.First(p => p.Key == "ErrorMsg").Value</div>
    }

    @if (TempData.Any(p => p.Key == "SuccessMsg"))
    {
        <div class="alert alert-success custom-alert">@TempData.First(p => p.Key == "SuccessMsg").Value</div>
    }

    <div id="site">
        <div id="header-area">
            @Html.Action("HeaderModule", "Modules")
            <div id="menu-area">
                @Html.Action("SitesModule", "Modules")
            </div>
        </div>
        <div id="wrapper">
            <div id="content">
                @RenderBody()
            </div>
            <div id="right-col">
                <div id="right-col-container">
                    @Html.Action("SearchModule", "Modules")

                    <div class="module">
                        <div class="module-header">
                            Menu
                        </div>

                        <ul>
                            <li class="btn btn-default"><span class="glyphicon glyphicon-search" style="margin: 0 10px 0 0;"></span>@Html.ActionLink("Pobierz w formacie ATOM", "GetArticlesATOM", "Home", null, null)</li>
                        </ul>
                    </div>

                    @Html.Action("RecentCommentsModule", "Modules")
                    @Html.Action("TagsModule", "Modules")
                    @Html.Action("ArchiveModule", "Modules")
                    @Html.Action("CategoriesModule", "Modules")

                    <div class="module">
                        <div class="module-header">
                            Strefa użytkownika
                        </div>
                        <div class="module-content">
                            @if (!WebSecurity.IsAuthenticated)
                            {
                                using (Html.BeginForm("Login", "Security", new { returnUrl = ViewBag.ReturnUrl }))
                                {
                                    <p><input name="login" type="text" class="form-control" placeholder="nazwa użytkownika"></p>
                                    <p><input name="password" type="password" class="form-control" placeholder="hasło"></p>

                                    <p>
                                        <input type="submit" value="Zaloguj" class="btn btn-primary btn-login" />
                                        @Html.ActionLink("Zarejestruj", "Register", "Security", null, new { @class = "btn btn-primary btn-register" })
                                    </p>
                                }
                            }
                            else
                            {
                                <ul>
                                    <li><a href="@Url.Action("EditAccount", "Security")" class="btn btn-default form-control"><span class="glyphicon glyphicon glyphicon-wrench" style="margin: 0 10px 0 0;"></span> Edycja konta</a></li>
                                    <li><a href="@Url.Action("Logout", "Security")" class="btn btn-default form-control"><span class="glyphicon glyphicon glyphicon-new-window" style="margin: 0 10px 0 0;"></span> Wyloguj</a></li>
                                </ul>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div id="footer">
                @ViewBag.CMSTitle v@{@ViewBag.CMSVersion} - @ViewBag.Copyright
            </div>

            <div style="clear:both;"></div>
        </div>
    </div>

    <script>SyntaxHighlighter.all()</script>
</body>
</html>
