@model Blog.ViewModels.SiteViewModel

@{
    ViewBag.Title = "Edytuj stronę";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

@section CustomMeta{
    @Scripts.Render("~/bundles/ckeditor")
    @Scripts.Render("~/bundles/alias-generator")
    @Styles.Render("~/Content/syntax")
}

@if (Model.Parent != null)
{
    <div class="sub-header">Podgląd wersji nr <strong>@Model.Version</strong></div>
}

@using (Html.BeginForm("EditSite", "Sites", new { area = "Administrator" }))
{
    @Html.HiddenFor(p => p.Parent)
    @Html.HiddenFor(p => p.Version)

    <div class="left-col">
        <fieldset class="settings-fieldset">
            <legend>Dane strony</legend>

            <div>
                <div class="input-group">
                    <span class="settings-label" style="width: 100%">Alias:</span>
                    @Html.TextBoxFor(p => p.Alias, new { @class = "form-control", placeholder = "Alias", id = "tb-alias" })
                    <div class="input-group-btn"><div class="btn btn-primary" onclick="generateAlias();">Wygeneruj</div></div>
                </div>
                @Html.ValidationMessageFor(p => p.Alias, null, new { @class = "validation-message" })
                </div>
            <div>
                <span class="settings-label" style="width: 100%">Opis:</span>
                @Html.TextBoxFor(p => p.Description, new { @class = "form-control", placeholder = "Opis" })
                @Html.ValidationMessageFor(p => p.Description, null, new { @class = "validation-message" })
            </div>

        </fieldset>
    </div>
    <div class="right-col">
        <fieldset class="settings-fieldset">
            <legend>Opcje publikacji</legend>

            <div>
                <span class="settings-label" style="width: 100%">Data utworzenia:</span>
                @Html.TextBoxFor(p => p.CreationDate, new { @class = "form-control", placeholder = "Data utworzenia artykułu" })
                @Html.ValidationMessageFor(p => p.CreationDate, null, new { @class = "validation-message" })
            </div>

            <div class="settings-group">
                <span class="settings-label">Status publikacji:</span>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-success radio-button">
                        @Html.RadioButtonFor(p => p.IsPublished, true) Opublikowana
                    </label>
                    <label class="btn btn-danger radio-button">
                        @Html.RadioButtonFor(p => p.IsPublished, false) Nieopublikowana
                    </label>
                </div>
                @Html.ValidationMessageFor(p => p.IsPublished, null, new { @class = "validation-message" })
            </div>
        </fieldset>
    </div>

    <div class="clearfix"></div>

    <div class="settings-group">
    @Html.TextBoxFor(p => p.Title, new { @class = "form-control", placeholder = "Tytuł artykułu", id = "tb-title" })</div>
    @Html.ValidationMessageFor(p => p.Title, null, new { @class = "validation-message" })

    <div style="height: 630px;">@Html.TextAreaFor(p => p.Content, new { id = "editor" })</div>
    @Html.ValidationMessageFor(p => p.Content, null, new { @class = "validation-message", style="margin-top: 10px;"})

    <script>
        CKEDITOR.replace('editor');
    </script>

    <div class="clearfix"></div>

    <input type="submit" class="btn btn-primary btn-settings left" name="save-without-exit" value="Zapisz" />
    <input type="submit" class="btn btn-primary btn-settings right" name="save-and-exit" value="Zapisz i wyjdź" />
}

@if (Model.ID.HasValue)
{
    @Html.Action("SitesVersionsList", "Modules", new { id = Model.ID })
}