@model List<Blog.ViewModels.CommentViewModel>

@{
    ViewBag.Title = "Komentarze";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered">
    <tbody>
        <tr>
            <th>ID</th>
            <th>Autor</th>
            <th>Data opublikowania</th>
            <th>Treść</th>
            <th>Akcje</th>
        </tr>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td style="width: 10%;">@Model[i].ID</td>
                <td style="width: 20%;">@Model[i].AuthorName</td>
                <td style="width: 20%;">@Model[i].PublishDate</td>
                <td style="width: 30%;">@Model[i].Content</td>
                <td style="width: 20%;">
                    @Html.ActionLink("Edytuj", "EditComment", "Comments", new { area = "Administrator", id = Model[i].ID }, new { @class = "btn btn-primary table-button" })
                    @Html.ActionLink("Usuń", "RemoveArticle", "Comments", new { area = "Administrator", id = Model[i].ID }, new { @class = "btn btn-danger table-button", onclick = "return confirmOperation()" })
                </td>
            </tr>
        }
    </tbody>
</table>